doctype html

html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="styles/app.css")
  body
    h1 Hello world from index.pug
    include ../partials/partial
